body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin: 0;
    text-align: center;
    flex-direction: column;
}

.container {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

p {
    font-size: 25px;
    color: #333;
    max-width: 600px;
}
